.custom-cursor-dot,
.custom-cursor-ring {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.custom-cursor-dot {
    width: 6px;
    /* Smaller size */
    height: 6px;
    /* Smaller size */
    background-color: white;
    border-radius: 50%;
    /* Snappier transition */
}

.custom-cursor-ring {
    width: 20px;
    /* Smaller size */
    height: 20px;
    /* Smaller size */
    border: 1px solid white;
    border-radius: 50%;
    /* Snappier transition */
}

.custom-cursor-dot {
    animation: dotAnimation 0.05s ease-out;
    /* Snappier animation */
}

.custom-cursor-ring {
    animation: ringAnimation 0.1s ease-out;
    /* Snappier animation */
}

.custom-cursor-ring.hover {
    width: 40px;
    height: 40px;
}

@keyframes dotAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes ringAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}